* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

:root {
    --background-fill: rgba(240, 218, 168, 0.4);
}

body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 50px;

    background-color: var(--background-fill);
    font-size: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

header {
    padding-top: 60px;
    line-height: 2.5em;
    font-size: 1.7em;
}

#textboxes {
    width: 100%;
    max-width: 1000px;

    margin: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    align-content: center;

    padding: 0 40px;
    gap: 40px;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    resize: none;
    font-size: 1.5em;
}

#sliders {
    width: 100%;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.slider-wrap {
    border: 3px solid rgba(168, 232, 240, 0.945);
    border-radius: 7px;
    background-color: rgba(255, 196, 0, 0.199);

    padding: 10px;
}

#info {
    display: block;

    width: 80%;
    margin: auto;
    margin-top: 50px;
    min-height: 300px;

    font-size: 1.2em;
}

hr {
    display: block;
    margin-bottom: 0.75em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;

    width: 50%;
  }
